:root {
  --dark-blue: #2a254b;
  --light-blue: #726e8d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
*::selection {
  background-color: var(--dark-blue);
  color: white;
}
a,
ul,
li,
button,
input {
  text-decoration: none;
  background: none;
  list-style-type: none;
  outline: none;
  border: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* ======================== global  */
.nav {
  padding: 20px 28px;
}

.nav-content__top {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.nav-search {
  align-content: center;
}
.nav-logo {
  /* font-family: Clash Display; */
  font-size: 24px;
  font-weight: 400;
  line-height: 29.52px;
  color: var(--dark-blue);
}
.nav-bascet {
  display: flex;
  align-items: center;
  gap: 16px;
}
.nav-content__bottom {
  padding-top: 20px;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 44px;
}
.nav-link {
  /* font-family: Satoshi; */
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  cursor: pointer;
  color: var(--light-blue);
  transition: all 0.3s linear;
}
.nav-link:hover {
  color: var(--dark-blue);
}

.menu {
  display: none;
}
.nav-search-m {
  display: none;
}
@media screen and (max-width: 800px) {
  .nav {
    padding: 20px 24px;
  }
  .nav-links {
    gap: 20px;
  }
}
@media screen and (max-width: 650px) {
  .menu {
    display: block;
  }
  .nav-content__bottom {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .nav-search-m {
    display: block;
  }
  .nav-search {
    display: none;
  }
  .nav-shop {
    display: none;
  }
  .nav-user {
    display: none;
  }
}

/* ================================== hero */

.header {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 24px;
  padding-right: 24px;
}
.header-content {
  display: flex;
}
.header-left {
  background-color: var(--dark-blue);
  color: white;
  padding: 60px;
  flex: 3;
}
.header-right {
  flex: 2;
}

.header-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-title {
  /* font-family: Clash Display; */
  font-size: 32px;
  font-weight: 400;
  line-height: 44.8px;
  max-width: 513px;
  padding-bottom: 41px;
}
.header-btn {
  background-color: #494565;
  padding: 16px 32px 16px 32px;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  cursor: pointer;
}
.header-btn:hover {
  background-color: #494565d0;
}
.header-text {
  max-width: 610px;
  padding-top: 196px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.header-btn-m {
  display: none;
  width: 100%;
  text-align: center;
  margin-top: 32px;
}
@media screen and (max-width: 800px) {
  .header-right {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .header-btn {
    display: none;
  }
  .header-btn-m {
    display: block;
  }
  .header-text {
    padding-top: 80px;
  }
  .header {
    padding: 0;
  }
  .header-left {
    padding: 40px 24px;
  }
}

/* =============================== Brand section */

.brand {
  padding-top: 60px;
  padding-bottom: 80px;
}
.brand-title {
  /* font-family: Clash Display; */
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
  padding-bottom: 51px;
}
.brand-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.brand-card {
  max-width: 270px;
}
.brand-card__icon {
  padding-bottom: 16px;
}
.brand-cart__title {
  /* font-family: Clash Display; */
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  padding-bottom: 8px;
}
.brand-cart__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@media screen and (max-width: 1350px) {
  .brand .container {
    padding: 0 24px;
  }
  .brand-card {
    padding-bottom: 36px;
  }
}
@media screen and (max-width: 600px) {
  .brand {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .brand-title {
    text-align: left;
  }
  .brand-card {
    max-width: 100%;
  }
}

/* =========== brand */

.ceramic {
  padding-top: 80px;
  padding-bottom: 56px;
}

.ceramic-title {
  /* font-family: Clash Display; */
  font-size: 32px;
  font-weight: 400;
  line-height: 39.36px;
  color: #2a254b;
}
.ceramic-cards {
  padding-top: 33px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.ceramic-card {
  flex-direction: column;
  display: flex;
}
.ceramic-card-img {
  width: 305px;
  height: 375px;
  object-fit: cover;
}
.ceramic-c-p1 {
  /* font-family: Clash Display; */
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #2a254b;
  padding-top: 24px;
}
.ceramic-c-p2 {
  /* font-family: Satoshi; */
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #2a254b;
  padding-top: 8px;
}
.ceramic-btn-1 button {
  padding: 16px 32px;
  color: #2a254b;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 35px auto;
}
@media screen and (max-width: 1315px) {
  .ceramic {
    padding-top: 48px;
    padding-bottom: 38px;
  }
  .ceramic-title {
    padding-left: 40px;
  }
  .ceramic-cards {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: center;
  }
  .ceramic-card {
    margin: auto;
    gap: 20px;
  }
  .ceramic-card-img {
    width: 250px;
    object-fit: cover;
  }
}
@media screen and (max-width: 620px) {
  .ceramic-title {
    padding-left: 24px;
  }
  .ceramic-cards {
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    justify-content: center;
  }
  .ceramic-card {
    margin: auto;
  }
  .ceramic-card-img {
    width: 200px;
    object-fit: cover;
  }
}
@media screen and (max-width: 490px) {
  .ceramic-cards {
    padding-left: 20px;
    padding-right: 20px;
  }
  .ceramic-card {
    display: flex;
    flex-wrap: wrap;
  }
  .ceramic-card-img {
    width: 180px;
    height: 250px;
    object-fit: cover;
  }
}
@media screen and (max-width: 440px) {
  .ceramic-title {
    font-size: 20px;
    padding-left: 24px;
  }
  .ceramic-cards {
    padding-left: 24px;
    padding-right: 24px;
  }
  .ceramic-card {
    margin: auto;
    gap: 16px;
  }
  .ceramic-card-img {
    width: 163px;
    height: 201px;
    object-fit: cover;
  }
}
@media screen and (max-width: 413px) {
  .ceramic-title {
    font-size: 20px;
    padding-left: 20px;
  }
  .ceramic-cards {
    padding-left: 20px;
    padding-right: 20px;
  }
  .ceramic-card {
    margin: auto;
  }
  .ceramic-card-img {
    width: 150px;
    height: 190px;
    object-fit: cover;
  }
  .ceramic-btn-1 button {
    display: flex;
    width: 100%;
  }
}
/* ==================ceramic */
.product {
  padding-left: 24px;
  padding-right: 24px;
}
.product-title {
  padding-top: 64px;
  font-size: 32px;
  font-weight: 400;
  line-height: 44.8px;
  color: #2a254b;
}
.product-card {
  margin-top: 25px;
  gap: 20px;
  display: flex;
  align-items: center;
}
.product-p1 {
  padding-top: 24px;
  font-size: 20px;
  line-height: 28px;
  color: #2a254b;
}
.product-p2 {
  color: #2a254b;
  font-size: 20px;
  line-height: 28px;
}

.product-div1 img {
  width: 630px;
  height: 375px;
  object-fit: cover;
}
.product-div2 img {
  width: 305px;
  height: 375px;
  object-fit: cover;
}
.product-div3 img {
  width: 305px;
  height: 375px;
  object-fit: cover;
}
.product-btn {
  padding: 16px 32px;
  color: #2a254b;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 44px auto;
}
/* ============product */
.join {
  margin-top: 52px;
  margin-bottom: 65px;
}
.join-wraper {
  background-color: #ffffff;
}

.join-wraper h1 {
  font-size: 36px;
  font-weight: 400;
  line-height: 50.4px;
  text-align: center;
  padding-top: 68px;
}
.join-wraper p {
  line-height: 24px;
  padding-top: 16px;
  text-align: center;
  width: 470px;
  margin: auto;
}
.email {
  margin: 72px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 54px;
}
.email input {
  color: var(--dark-blue);
  background-color: #f9f9f9;
  padding: 17px 205px 17px 32px;
}
.email button {
  color: white;
  background-color: var(--dark-blue);
  padding: 16px 32px 16px 32px;
}
@media screen and (max-width: 580px) {
  .join-wraper {
    padding-left: 30px;
    padding-right: 30px;
  }
  .join-wraper h1 {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;

    padding-top: 48px;
  }
  .join-wraper p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    padding-top: 16px;
    margin: auto;
  }
  .email {
    width: 400px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (max-width: 540px) {
  .email input {
    padding-right: 105px;
  }
}
/* =========join */

.london {
}

.london-wraper {
  display: flex;
}
.london-left {
  flex: 1;
}
.londono-right {
  flex: 1;
  width: 720px;
  height: 603px;
  object-fit: cover;
}
.london-title {
  font-size: 24px;
  line-height: 33.6px;
  text-align: left;
  padding-top: 72px;
  width: 514px;
}
.london-paragraf {
  padding-top: 25px;
  width: 536px;
}
.london-left button {
  padding: 16px 32px 16px 32px;
  color: var(--dark-blue);
  background-color: #f9f9f9;
  margin-top: 196px;
}

/* ==============footer boshlandi */
footer {
  background-color: var(--dark-blue);
}
.footer-wraper {
  display: flex;
  flex-direction: column;
}
.birinchi-foot {
  display: flex;
  padding-top: 58px;
  justify-content: space-between;
  padding-bottom: 48px;
  border-bottom: 1px solid #4e4d93;
}
.foot-links {
  display: flex;
  gap: 109px;
}
.f-d1 {
}
.f-list-item a {
  color: white;
  font-size: 14px;
  line-height: 18.9px;
  text-align: left;
}
.f-list-item li {
  padding-top: 12px;
}
.foot-title {
  color: white;
  padding: none;
}
.f-d2 {
}
.f-d3 {
}
.f-d4 {
  padding-top: 12px;
}
.foot-input {
  background-color: #4a4566;
  padding-left: 32px;
  padding-right: 300px;
  padding-top: 17px;
  padding-bottom: 17px;
  color: white;
}
.foot-button {
  color: #2a254b;
  padding: 16px 32px;
  background-color: #fff;
}
.foot-kiritish {
  padding-top: 12px;
  gap: 0px;
  width: 627px;
}
.ikkinchi-foot {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}
.ikkinchi-foot a {
  font-size: 14px;
  line-height: 18.9px;
  color: white;
}
.foot-logo {
}

.foot-logo-img {
  margin-left: 24px;
  width: 24px;
  height: 24px;
}
